.Lego {
  &-ButtonGroup {
    display: flex;
    align-items: center;
    background: rgba(23, 23, 23, 1);
    padding: 2px;

    border-radius: 8px;

    &-Item {
      position: relative;

      .Lego-Button, .Lego-Button-Inner {
        border-radius: 6px;
      }
    }

    > :not(:last-child) {
      margin-right: 8px;

      &::after {
        position: absolute;
        content: "";
        top: 7px;
        width: 1px;
        height: 16px;

        border-radius: 16px;
        right: -4.5px;
      }
    }
  }
}