
$screen-min: 320px;

$screen-xs-min: 481px;

$screen-s-min: 641px;

$screen-m-min: 961px;

$screen-l-min: 1025px;

$screen-xl-min: 1281px;

$screen-xxl-min: 1441px;

$screen-xxxl-min: 1921px;

@mixin min {
   @media (min-width: #{$screen-min}) {
       @content;
   }
}

@mixin xs {
   @media (min-width: #{$screen-xs-min}) {
       @content;
   }
}

@mixin s {
   @media (min-width: #{$screen-s-min}) {
       @content;
   }
}

@mixin m {
   @media (min-width: #{$screen-m-min}) {
       @content;
   }
}

@mixin l {
   @media (min-width: #{$screen-l-min}) {
       @content;
   }
}

@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}

@mixin xxl {
   @media (min-width: #{$screen-xxl-min}) {
       @content;
   }
}

@mixin xxxl {
   @media (min-width: #{$screen-xxxl-min}) {
       @content;
   }
}

@mixin landscape(){
  @media screen and (orientation: landscape){
    @content;
  }
}

@mixin landscape-phone(){
  @media screen and (max-height: #{$screen-m-min}) and (orientation: landscape){
    @content;
  }
}

@mixin breakpoint($screen) {
   @media (min-width: ($screen+'px')) {
       @content;
   }
}

